*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
}
#navbar{
    margin: auto;
    display: flex;
    background-color: #2874f0;
    justify-content: space-between;
    padding: 8px 70px;
    border-radius: 5px;
}
#navbar>div:first-child{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
#navbar>div:first-child>h3>a{
    color: yellow;
    cursor: pointer;
    font-weight: 400;
    text-decoration: none;
}
#navbar>div:first-child>div{
    width: 70%;
    display: flex;
    align-items: center;
    margin-right: 35px;
    border: 0.5px solid grey;
}
#navbar>div:first-child>div>input{
    width: 85%;
    padding:0px 10px;
    height: 5vh;
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
}
#navbar>div:first-child>div>button{
    height: 5vh;
    padding: 0px 10px;
    cursor: pointer;
    border: none;
    border-left: 0.5px solid gray;
    border-radius:0px 5px 5px 0px;
    background-color: white;
}
#navbar>div:last-child{
    display: flex;
    width: 25%;
    margin-right: 30px;
    justify-content: space-between;
    align-items: center;
    font-family: verdana, arial, helvetica, sans-serif;
    color: white;
    font-size: 13px;
}
#navbar>div:last-child>p{
    cursor: pointer;
}

#container{
    width: 85%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    gap: 30px;
}
#container>div{
    border:1px solid #e1e1e1;
    padding: 20px;
    border-radius: 5px;
    line-height: 25px;
}
#container>div>img{
    width: 100%;
}
#container>div>div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid #e1e1e1;
}
#container>div>div>div>p{
    color: #6abfe0;
    cursor: pointer;
    font-size: 15px;
}
#container>div>h3{
    font-size: 15px;
    font-weight: 400;
}

#container>div>div>div>img{
    width: 15px;
}
#container>div>div>div>p:hover{
    text-decoration: underline;
    color: black;
}
#container>div>div>div{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
}
#container>div>div>div:first-child{
    border-right: 1px solid #e1e1e1;
}

#footer{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
}
ul{
    margin-left: 50px;
    color: #6ebeec;
    width:12%;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: grey;
}
#footer>h3{
    font-weight: 200;
}
